body{font-family:arial;font-size:20px; 
	font-family:HelveticaRegular;
    font-size: 20px;
    line-height: 18px;
	Text-align: center
    }

header h1{position:relative; text-shadow:1px 1px 1px #000000;text-align: center; color:gray; font-family:HelveticaRegular}

ul{width:100%; padding:5px; border:1px #ccc solid;}
ul li{display:inline; width:80%}
ul li a{ padding:10px 10px 10px 10px;}

section{float:left; padding:5px;}
iframe {border: none; overflow:auto; width: 100%; height:600px; border-radius: 50px; padding: 10px 0 0 0; box-shadow: 0 2px 1px #9c9c9c;}

footer{
	width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;  
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 50px;
    box-shadow: 0 2px 1px #9c9c9c;
	height: 35px
}


nav{
text-align: center; background-color:grey; width:100%; color:black
}

table{
  border: 5px solid black;
  border-spacing: 50px;
}

table thead tr{
  font-family: Arial, monospace;
  font-size: 16px;
}

table thead tr th{
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  margin: 0px;
  background-color: #cccccc;
}

table tr {
  font-family: arial, monospace;
  color: white;
  font-size:14px;
  background-color: white;
}

table tr.odd {
  background-color: #AAAAAA;
}

table tr td, th{
  border-bottom: 1px solid black;
  padding: 10px;

}

a:link{
  font-family:arial, monospace;
  text-decoration: none;
  color: grey;
}

a:hover{
  text-decoration: underline;
}
a.titulo:hover{
  text-decoration: none;
}

a:visited{
  color:black;
  text-decoration: none;
}

#menu {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;  
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 50px;
    box-shadow: 0 2px 1px #9c9c9c;
	height: 35px
}

#menu li {
    float: center;
    padding: 0 0 10px 0;
    position: relative;
	width: 150px;
}

#menu a {
    float: center;
    height: 20px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
	width: 130px;
}

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: 50px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu li:hover > a {
    color: #fafafa;
}

*html #menu li a:hover { /* IE6 */
    color: #fafafa;
}

#menu li:hover > ul {
    display: block;
}

/* Sub-menu */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background-color: #444;   
    background-image: linear-gradient(#444, #111);    
    -moz-border-radius: 5px;
    border-radius: 5px;
	width:150px;
	float:left;
	text-align:left;
}

#menu ul li {
    float: left;
    margin: 0;
    padding: 0;
    display: block; 
	
    box-shadow: 0 1px 0 #111111, 
                0 2px 0 #777777;
}

#menu ul li:last-child { 
    box-shadow: none;  
	
}

#menu ul a {    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
	
}

*html #menu ul a { /* IE6 */   
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul a { /* IE7 */    
    height: 10px;
    width: 150px;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -10px;
    width: 50px;
    height: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a {
    border-radius: 0 0 5px 5px;
	
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
	width: 100%;
}

div.login{
	position:absolute;
	top:30%;
	left:35%;
	padding: 10px;
	width: 350px;
    height: 230px;	
	border: 1px solid #d0d0d0;
	border-radius: 10px;
	background-color: #d0d0d0;

}

input.login{
	left:180%;
}

#box{width:90%;margin:0 auto;}